# Database
DB_USER=postgres
DB_HOST=postgres-db
DB_NAME=ku_wifi_db
DB_PASSWORD=change_me
DB_PORT=5432

# Super Admin
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000
JWT_SECRET=change_me_to_random_long_string
SUPERADMIN_USER=superadmin
SUPERADMIN_PASS=change_me_bcrypt_hash
INTERNAL_API_KEY=change_me_random_string
KIOSK_URL=http://your-server:8000

# KU SSO
KU_CLIENT_ID=
KU_CLIENT_SECRET=
KU_REDIRECT_URI=http://localhost:3000/api/auth/ku-callback
